ul.akkordeon {
    width: 925px;
    padding: 0;
    margin: 0;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 3px;
}

ul.akkordeon li {
    list-style-type: none;
}
ul.akkordeon li ul li {
    list-style: disc;
}


ul.akkordeon li>p {
    background: #666;
}

ul.akkordeon li>p {
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    margin: 1px;
    color: white;
    text-shadow: 0px 1px 1px rgb(73, 73, 73);
    text-align: center;
    font-size: 17px;
    font-family: Segoe UI;
    background: #0C0C0C -webkit-gradient(linear, left top, left bottom, from(#868585), to(#666)) no-repeat;
}

ul.akkordeon li>p:hover {
    background: #0C0C0C -webkit-gradient(linear, left top, left bottom, from(#868585), to(#4E4B4B)) no-repeat;
}

ul.akkordeon li>p.active {
    background: #369 -webkit-gradient(linear, left top, left bottom, from(#86B8E9), to(#5682AE)) no-repeat;
}

ul.akkordeon li>div {
    display: none;
    padding: 10px;
    font-size: 14px;
    line-height: 15px;
}

ul.akkordeon1 {
    width: 300px;
    border: 1px solid rgb(182, 182, 182);
    float: right;
    margin-right: 320px;
}

ul.akkordeon1 li {}

ul.akkordeon1 li>p {
    cursor: pointer;
    padding: 10px;
    margin: 0;
    color: white;
    text-shadow: 0px 1px 1px rgb(73, 73, 73);
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    background: #0C0C0C -webkit-gradient(linear, left top, left bottom, from(#868585), to(#666)) no-repeat;
}

ul.akkordeon1 li>p:hover {
    background: #0C0C0C -webkit-gradient(linear, left top, left bottom, from(#868585), to(#4E4B4B)) no-repeat;
}

ul.akkordeon1 li>p.active {
    background: #369 -webkit-gradient(linear, left top, left bottom, from(#86B8E9), to(#5682AE)) no-repeat;
}

ul.akkordeon1 li>div {
    display: none;
    padding: 10px;
}



.sellers ul {
  padding: 0;
}

.sellers bo {
  font-size: 200%;
  font-weight: normal;
}

.sellers a {
  display: block;
  font-size: 14px;
}

.sellers-faq h2 {
  font-size: 200%;
  font-weight: normal;
}

.sellers-faq a {
  font-size: 14px;
}


/* tabs start*/

.ku_tabs {
  border: 1px solid #ccc;
  border-radius: 3px;
}

.ku_tablinks_container {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1;
}

.ku_tablinks_container a {
  float: left;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
}

.ku_tablinks_container a:hover {
  background-color: #ddd;
  text-decoration: underline;
}

.ku_tablinks_container a:focus,
.ku_active_tab_link {
  background-color: #ccc;
}

.ku_tabcontent {
  display: none;
  padding: 6px 12px;
}

.ku_active_tab {
  display: block;
}


/* tabs end*/

.sellers-table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.sellers-table>tbody>tr>td,
.sellers-table>tbody>tr>th,
.sellers-table>tfoot>tr>td,
.sellers-table>tfoot>tr>th,
.sellers-table>thead>tr>td,
.table-bordered>thead>tr>th {
  border: 1px solid #ddd;
  padding: 8px;
}

.sellers-table ul {
  margin: 0;
}

.ku_products_header {
  font-size: 24px !important;
  line-height: normal !important;
}

.ku_products p {
  line-height: 1.5em;
  font-size: 14px;
}
.sellers-content {
    max-width: 1000px;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
}

.sellers-content table {
    font-size: 15px;
}

.sellers-content h1,
.sellers-content h2,
.sellers-content h3,
.sellers-content h4,
.sellers-content h5,
.sellers-content h6 {
    color: #0099cc;
}

.sellers-content h1,
.sellers-menu h1 {
    font-size: 42px;
    font-weight: 200;
    line-height: 50px;
}

.sellers-content h2,
.sellers-menu h2 {
        color: #0099cc;
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
}

.sellers-content h3,
.sellers-menu h3 {
        color: #0099cc;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
}

.sellers-content .page-header {
    margin-top: 0;
    margin-bottom: 15px;
}

.sellers-content p,
.sellers-content .warning {
    font-size: 15px;
    line-height: 20px;
}

.sellers-content p,
.sellers-content ul {
    margin: 8px;
}

.sellers-content .label {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: 700;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.sellers-content .label-warning {
    background-color: #f0ad4e;
}

.sellers-content .warning {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    margin-bottom: 10px;
}

.sellers-content .warning:last-child {
    margin-bottom: 0px;
}

.sellers-content td p:first-child {
    margin-top: 0;
}

.sellers-content td p:last-child {
    margin-bottom: 0;
}

 .sellers-menu {
        font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
        font-size: 14px;
        box-sizing: border-box;
    }

    .sellers-menu-items {
        list-style: none;
        padding: 0;
        margin: 0;
        border-radius: 2px;
    }

    .sellers-menu-items li > ul{
        color: gray;
    }

    .sellers-menu-items ul {
        display: none;
        list-style: none;
        margin: 5px 10px;
        padding-left: 10px;
        border-left: 1px solid #ccc;
    }

    .sellers-menu-header {
        display: block;
        padding: 3px 15px;
        border: 1px solid #ccc;
        border-bottom: none;
        color: #0099cc;
        cursor: pointer;
        font-size: 16px;
        line-height: 25px;
        padding-left: 21px;
    }

    .sellers-menu-header:hover {
        border-left: 10px solid #0099cc;
        padding-left: 12px;
    }

    .sellers-menu-items li.open .sellers-menu-header {
        border-left: 10px solid #0099cc;
        padding-left: 10px;
        border-bottom: 1px solid #ccc;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        font-weight: 600;
    }

    .sellers-menu-items li.open ul {
        display: block;
    }

    .sellers-menu li ul li {
        padding: 5px 0;
    line-height: 14px
    }

    .sellers-menu-items li:last-child .sellers-menu-header {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom: 1px solid #ccc;
    }

    .sellers-menu-items li:first-child .sellers-menu-header {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .sellers-menu-items .active {
        font-weight: bold;
    }

    .sellers-menu-items .active:before {
        content: '●';
        color: #3271af;
        margin-right: 10px;
        display: inline-block;

    }

    .sellers-menu-items .active:hover:before {
        text-decoration: none !important;
    }


.sellers-content .text-info {
    color: #0099cc;
}

.sellers-content .text-success {
    color: #3c763d;
}

.sellers-content .text-danger {
    color: #a94442;
}

.sellers-content td.fcol {
    width: 208px;
}

.sellers-content fieldset {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    -webkit-margin-start: 0;
    margin-bottom: 10px;
}